body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    color: #39FF14;
}

.settings {
    margin-top: 20px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 60px;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #39FF14;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    transition: border-color 0.3s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #39FF14;
    color: #1e1e1e;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #32cc12;
}

canvas {
    border: 2px solid #39FF14;
    background-color: #2e2e2e;
}